<!doctype html>
<html>
    <head>
        <title>Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    </head>
    <body>
        <header>
            <h1>Welcome to Fitness Hub</h1>
            <p>Your ultimate destination for fitness and wellness</p>
        </header>
        <nav>
            <a href="profile.html">Home</a>
            <a href="about.html">About</a>
            <a href="GymFinder.html">Gym Finder</a>
            <a href="Calendar.html">Calendar</a>
            <a href="Statistics.html">Statistics</a>
        </nav>

        <h1>Welcome to your tracking!!</h1>
        <footer>
            <p>&copy; 2024 Fitness Hub. All rights reserved.</p>
        </footer>
    </body>
</html>