<!DOCTYPE html>
<html>
<head>
    <title>Google Maps Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
   
</head>
<body>
    <nav>
        <a href="profile.html">Home</a>
        <a href="about.html">About</a>
        <a href="GymFinder.html">Gym Finder</a>
        <a href="Calender.html">Calender</a>
        <a href="Statistics.html">Statistics</a>
    </nav>

    <h1>Driving Distance: {{ distance }}</h1>
    <h1>Driving Duration: {{ duration }}</h1>

</body>
</html>