<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    
</head>
<body>
    <header>
        <h1>Welcome to Fitness Hub</h1>
        <p>Your ultimate destination for fitness and wellness</p>
    </header>    
    <section>
        {% extends "base.html" %}

        {% block content %}
        <h1 class="title">
        <a href="signup.html">FitnessPal Login</a>
        </h1>
        <h2 class="subtitle">
        Welcome to Fitness Pal!
        </h2>
        {% endblock %}
    </section>    
    <footer>
        <p>&copy; 2024 Fitness Hub. All rights reserved.</p>
    </footer>
</body>
</html>
