<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    
</head>
<body>
    <header>
        <h1>Welcome to Fitness Hub</h1>
        <p>Your ultimate destination for fitness and wellness</p>
    </header>
    <nav>
        <a href="Main.html">Home</a>
        <a href="about.html">About</a>
        <a href="GymFinder.html">Gym Finder</a>
        <a href="Calender.html">Calender</a>
        <a href="Statistics.html">Statistics</a>
    </nav>
    <section>
        <h2>About Us</h2>
        <p>Welcome to Fitness Hub, your one-stop solution for all your fitness needs. Whether you're looking to lose weight, build muscle, or just improve your overall health, we have everything you need to reach your goals.</p>
    </section>
    <footer>
        <p>&copy; 2024 Fitness Hub. All rights reserved.</p>
    </footer>
</body>
</html>
