<!doctype html>
<html>
    <head>
        <title>Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    </head>
    <body>
        <nav>
            <a href="profile.html">Home</a>
            <a href="about.html">About</a>
            <a href="GymFinder.html">Gym Finder</a>
            <a href="Calender.html">Calender</a>
            <a href="Statistics.html">Statistics</a>
        </nav>

        <h1>Welcome to your tracking!!</h1>
    </body>
</html>
